vim/plugged
vim/.netrwhist
tmux/plugins/*
tmux/resurrect/*
sublime/User/encoding_cache.json
sublime/User/Package\ Control.*
sublime/User/SublimeLinter/*
sublime/User/oscrypto-ca-bundle.crt
!/sublime/User/Package\ Control.sublime-settings
sublime/.DS_Store
.*.un~
.DS_Store
